body {
	background-color: #FFF8ED;
    font-family: Fustat, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 60px;
}

nav{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;


    color: #1e40af;
    background-color: #FFF0D8;
    padding: .75rem 3.75rem .75rem 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: Fustat, sans-serif;
}

nav>.links{ 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style-type: none;
    gap:4rem;
}
.links>li:hover{
    text-decoration: underline;
}
.links>li>a{
    text-decoration: none;
    color: #1e40af;
}

.logo img{
    max-width: 20rem;
    height: auto;
}

.profile main{
    font-weight: 700;
}
.profile main::before{
    content: "Welcome,";
    font-weight: 500;
    margin-right: 0.5rem;
    font-size: 0.7em;
}
nav button{
    color: #1e40af;
    background-color:#FFF0D8; 
    border-style: none;
    margin-top:0rem;
    padding: 0.5rem;
    border-radius: 0.2rem; 
}
nav button:hover , nav button:active{
    background-color: #ffe1b0;
}



.card {
    border: 2.5px dashed #F5A623;
    border-radius: 10px;
    padding: 0px 40px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.card h2 {
    font-family: "Fustat";
    color: #1e40af;
    font-size: 2rem;
    margin-bottom: 16px;
    padding-top: 20px;
    align-items: center;
}

.avatar {
    background: #FDEAB5;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
	color: #1e40af;
    font-weight: 800;
    font-size: 0.9rem;
    margin-bottom: 6px;
}

input {
    border: 2px solid #16319E;;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 0.95rem;
    color: #1e40af; 
    margin-bottom: 16px;
    outline: none;
}

input::placeholder { color: #9fa8da; }

button {
    align-items: center; 
    width: 150px;
    height: 50px;
    background: #16338a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Fustat';
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 150px;
}


button:hover { background: #283593; }

p { 
    color: #1e40af;
    font-size: 0.9rem;
 }

a { 
    color: #1e40af;
    font-weight: 800; 
}

.back {
    margin-top: 1px;
     font-weight: 700; 
    }

.checkboard{
    width: 100%;
    position: relative;
    margin-top: 40px; 
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.checkboard img {
    width: 100%;
    max-height: 130px;
    object-fit: cover;
    display: block;
}